.box-out-wrap {
    background: #fff2de;
    padding-bottom: 15px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px #ccc;
    -ms-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
}
.box-out {
    padding: 10px;
}
.box-out {
    margin: auto;
    max-width: 350px;
    height: 320px;
}
.box-ketnoi {
    margin: auto;
    max-width: 85%;
    max-height: 280px;
}
.form-group {
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.box-out-wrap h4 {
    background: #ea9121;
    height: 42px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.btn-sl {
    color: #fff;
    background-color: #3f5474;
    border-color: #3f5474;
    margin-top: 55px;
}
.btn-sl2 {
    color: #fff;
    background-color: #3f5474;
    border-color: #3f5474;
}
.form-content {
    padding: 10px 20px 4px 20px;
    min-height: 340px;
}
.maq {
    height: 34px;
    background: #0f4f9e;
    color: #fff;
    font-style: italic;
    line-height: 34px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
}
.bg-lable2 {
    background: #1c56fb !important;
}
.chietkhau{
    color: #fff;
    text-align: center;
    border: 1px solid;
    border-radius: 26px;
    background: rgb(0, 126, 191);
    padding: 10px 5px;
    width: 32.5%;
    margin-left: 28px;
    font-size: 11px;
    margin-top: 5px;
}
#banggia{
    border: 1px solid #0f4f9e;
    margin-bottom: 30px;
}
.lbbangia{
    background: #0f4f9e;
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 1px;
}
.w3_facebook:hover {
    background: #6187D5;
}
.social ul li:hover {
    width: 100px;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
}
.social ul li {
    display: block;
    width: 65px;
    text-align: right;
    padding: 5px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;;
}
.social ul li i {
    margin-left: 10px;
    color: #212121;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    text-align: center;
    background: #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social {
    position: fixed;
    bottom: 15%;
    width: 4%;
    z-index: 9999;
}
.w3_facebook {
    background: #3b5998;
}
.social ul li:hover a {
    color: #fff;
    text-decoration: none;
}
.social ul li:hover img {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}