body {
    color: #da9537;
}
#error{
    margin-top: 52px;
}
a {
    color: #0000ff;
    text-decoration: none;
}

#lp-pom-root {
    display: block;
    background: rgba(251, 251, 251, 1);
    -pie-background: rgba(251, 251, 251, 1);
    border-style: none;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: 0px;
    border-radius: 0px;
    min-width: 960px;
    height: 570px;
}

#lp-pom-block-9 {
    display: block;
    background: rgba(9, 55, 94, 0.75);
    background-image: url(../images/css/bg-image.original.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 570px;
    position: relative;
}

#lp-pom-box-10 {
    display: block;
    background: rgba(26, 41, 62, 1);
    -pie-background: rgba(26, 41, 62, 1);
    border-style: none;
    border-radius: 0px;
    left: 580px;
    top: 0px;
    z-index: 1;
    width: 380px;
    height: 550px;
    position: absolute;
}

#lp-pom-text-63 {
    display: block;
    background: rgba(255, 255, 255, 0);
    -pie-background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 48px;
    top: 47px;
    z-index: 2;
    width: 290px;
    height: 55px;
    position: absolute;
}

#lp-pom-text-62 {
    display: block;
    background: rgba(255, 255, 255, 0);
    -pie-background: rgba(255, 255, 255, 0);
    border-style: none;
    border-radius: 0px;
    left: 42px;
    top: 30px;
    z-index: 5;
    width: 495px;
    height: 520px;
    position: absolute;
}

#lp-pom-button-65 {
    display: block;
    border-style: solid;
    border-radius: 5px;
    left: 0px;
    top: 305px;
    z-index: 4;
    width: 271px;
    height: 51px;
    position: absolute;
    background: rgb(20, 148, 24);
    -pie-background: rgba(247, 148, 29, 1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    border-width: 1px;
    border-color: #333333;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    font-family: Ubuntu;
    text-align: center;
    background-repeat: no-repeat;
}

#lp-pom-root .lp-positioned-content {
    top: 0px;
    width: 960px;
    margin-left: -480px;
}

#lp-pom-block-9 .lp-pom-block-content {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 570px;
}

#lp-pom-button-65:hover {
    background: rgba(235, 128, 22, 1);
    -pie-background: rgba(235, 128, 22, 1);
    box-shadow: none;
    color: #fff;
}

#lp-pom-button-65:active {
    background: rgba(222, 115, 18, 1);
    -pie-background: rgba(222, 115, 18, 1);
    box-shadow: none;
    color: #fff;
}

#lp-pom-button-65 .label {
    margin-top: -10px;
}

#lp-pom-root-color-overlay {
    position: absolute;
    background: none;
    top: 0;
    width: 100%;
    height: 570px;
    min-height: 100%;
}

#lp-pom-block-9-color-overlay {
    position: absolute;
    background: rgba(9, 55, 94, 0.75);
    -pie-background: rgba(9, 55, 94, 0.75);
    height: 570px;
    width: 100%;;
}

#lp-pom-box-10-color-overlay {
    position: absolute;
    background: none;
    height: 570px;
    width: 380px;
}

#lp-pom-form-64 {
    display: block;
    left: 48px;
    top: 145px;
    z-index: 3;
    width: 276px;
    height: -16px;
    position: absolute;
}

#lp-pom-form-64 .lp-pom-form-field label {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #ababab;
}

#lp-pom-form-64 .lp-pom-form-field .option label {
    font-family: arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    left: 18px;
    color: #000;
}

#lp-pom-form-64 .lp-pom-form-field .option input {
    top: 2px;
}

#lp-pom-form-64 .lp-pom-form-field input.text {
    background-color: #dddfe2;
    color: #6a6a6a;
    box-shadow: inset 0px 2px 3px #c0c1c4;
    -webkit-box-shadow: inset 0px 2px 3px #c0c1c4;
    -moz-box-shadow: inset 0px 2px 3px #c0c1c4;
    border-radius: 5px;
}

#lp-pom-form-64 .lp-pom-form-field textarea {
    background-color: #dddfe2;
    color: #6a6a6a;
    box-shadow: inset 0px 2px 3px #c0c1c4;
    -webkit-box-shadow: inset 0px 2px 3px #c0c1c4;
    -moz-box-shadow: inset 0px 2px 3px #c0c1c4;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
    border-radius: 5px;
}

#lp-pom-form-64 .lp-pom-form-field input[type=text] {
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
}

#lp-pom-form-64 .lp-pom-form-field select {
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
}

#lp-pom-form-64 .form_elem_name {
    top: 19px;
    left: 0px;
    width: 258px;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

#lp-pom-form-64 .form_elem_email {
    top: 19px;
    left: 0px;
    width: 258px;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

#lp-pom-form-64 .form_elem_phone_number {
    top: 19px;
    left: 0px;
    width: 258px;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

#lp-pom-form-64 .form_elem_company {
    top: 19px;
    left: 0px;
    width: 258px;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

#lp-pom-form-64 #label_name {
    height: 19px;
    top: 0px;
    width: auto;
}

#lp-pom-form-64 #label_email {
    height: 19px;
    top: 0px;
    width: auto;
}

#lp-pom-form-64 #label_phone_number {
    height: 19px;
    top: 0px;
    width: auto;
}

#lp-pom-form-64 #label_company {
    height: 19px;
    top: 0px;
    width: auto;
}

#lp-pom-form-64 #container_name {
    width: 276px;
    height: 51px;
    top: 0px;
}

#lp-pom-form-64 #container_email {
    width: 276px;
    height: 51px;
    top: 69px;
}

#lp-pom-form-64 #container_phone_number {
    width: 276px;
    height: 51px;
    top: 138px;
}

#lp-pom-form-64 #container_company {
    width: 276px;
    height: 51px;
    top: 207px;
}

@media only screen and (max-width: 600px) {
    #lp-pom-root {
        display: block;
        background: rgba(251, 251, 251, 1);
        -pie-background: rgba(251, 251, 251, 1);
        border-style: none;
        margin: auto;
        padding-left: auto;
        padding-right: auto;
        padding-top: 0px;
        border-radius: 0px;
        min-width: 320px;
        height: 971px;
    }

    #lp-pom-block-9 {
        display: block;
        background: rgba(9, 55, 94, 0.75);
        background-image: url(https://app.unbouncepreview.com/publish/assets/a5ca13d6-5f33-4d67-b694-c48a171c91a1/97401aa6-bg-image.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        border-radius: 0px;
        width: 100%;
        height: 971px;
        position: relative;
    }

    #lp-pom-box-10 {
        display: block;
        background: rgba(26, 41, 62, 1);
        -pie-background: rgba(26, 41, 62, 1);
        border-style: none;
        border-radius: 0px;
        left: 0px;
        top: 439px;
        z-index: 1;
        width: 320px;
        height: 533px;
        position: absolute;
    }

    #lp-pom-text-63 {
        display: block;
        background: rgba(255, 255, 255, 0);
        -pie-background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 25px;
        top: 31px;
        z-index: 2;
        width: 290px;
        height: 55px;
        transform: scale(0.94);
        transform-origin: 0 0;
        -webkit-transform: scale(0.94);
        -webkit-transform-origin: 0 0;
        position: absolute;
    }

    #lp-pom-text-62 {
        display: block;
        background: rgba(255, 255, 255, 0);
        -pie-background: rgba(255, 255, 255, 0);
        border-style: none;
        border-radius: 0px;
        left: 21px;
        top: 60px;
        z-index: 5;
        width: 278px;
        height: 379px;
        transform: scale(0.94);
        transform-origin: 0 0;
        -webkit-transform: scale(0.94);
        -webkit-transform-origin: 0 0;
        position: absolute;
    }

    #lp-pom-button-65 {
        display: block;
        border-style: solid;
        border-radius: 5px;
        left: 0px;
        top: 305px;
        z-index: 4;
        width: 271px;
        height: 51px;
        position: absolute;
        background: rgba(247, 148, 29, 1);
        -pie-background: rgba(247, 148, 29, 1);
        box-shadow: none;
        text-shadow: none;
        color: #fff;
        border-width: 1px;
        border-color: #333333;
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
        font-family: Ubuntu;
        text-align: center;
        background-repeat: no-repeat;
    }

    body {
        color: #da9537;
    }

    a {
        color: #0000ff;
        text-decoration: none;
    }

    #lp-pom-root .lp-positioned-content {
        top: 0px;
        width: 320px;
        margin-left: -160px;
    }

    #lp-pom-block-9 .lp-pom-block-content {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 971px;
    }

    #lp-pom-button-65:hover {
        background: rgba(235, 128, 22, 1);
        -pie-background: rgba(235, 128, 22, 1);
        box-shadow: none;
        color: #fff;
    }

    #lp-pom-button-65:active {
        background: rgba(222, 115, 18, 1);
        -pie-background: rgba(222, 115, 18, 1);
        box-shadow: none;
        color: #fff;
    }

    #lp-pom-button-65 .label {
        margin-top: -10px;
    }

    #lp-pom-root-color-overlay {
        position: absolute;
        background: none;
        top: 0;
        width: 100%;
        height: 971px;
        min-height: 100%;
    }

    #lp-pom-block-9-color-overlay {
        position: absolute;
        background: rgba(9, 55, 94, 0.75);
        -pie-background: rgba(9, 55, 94, 0.75);
        height: 971px;
        width: 100%;;
    }

    #lp-pom-box-10-color-overlay {
        position: absolute;
        background: none;
        height: 533px;
        width: 320px;
    }

    #lp-pom-form-64 {
        display: block;
        left: 21px;
        top: 125px;
        z-index: 3;
        width: 276px;
        height: -16px;
        position: absolute;
    }

    #lp-pom-form-64 .lp-pom-form-field label {
        margin-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #ababab;
    }

    #lp-pom-form-64 .lp-pom-form-field .option label {
        font-family: arial;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        left: 18px;
        color: #000;
    }

    #lp-pom-form-64 .lp-pom-form-field .option input {
        top: 2px;
    }

    #lp-pom-form-64 .lp-pom-form-field input.text {
        background-color: #dddfe2;
        color: #6a6a6a;
        box-shadow: inset 0px 2px 3px #c0c1c4;
        -webkit-box-shadow: inset 0px 2px 3px #c0c1c4;
        -moz-box-shadow: inset 0px 2px 3px #c0c1c4;
        border-radius: 5px;
    }

    #lp-pom-form-64 .lp-pom-form-field textarea {
        background-color: #dddfe2;
        color: #6a6a6a;
        box-shadow: inset 0px 2px 3px #c0c1c4;
        -webkit-box-shadow: inset 0px 2px 3px #c0c1c4;
        -moz-box-shadow: inset 0px 2px 3px #c0c1c4;
        border-style: solid;
        border-width: 1px;
        border-color: #bbbbbb;
        border-radius: 5px;
    }

    #lp-pom-form-64 .lp-pom-form-field input[type=text] {
        border-style: solid;
        border-width: 1px;
        border-color: #bbbbbb;
    }

    #lp-pom-form-64 .lp-pom-form-field select {
        border-style: solid;
        border-width: 1px;
        border-color: #bbbbbb;
    }

    #lp-pom-form-64 .form_elem_name {
        top: 19px;
        left: 0px;
        width: 258px;
        font-size: 16px;
        line-height: 16px;
        height: 32px;
        padding-left: 8px;
        padding-right: 8px;
    }

    #lp-pom-form-64 .form_elem_email {
        top: 19px;
        left: 0px;
        width: 258px;
        font-size: 16px;
        line-height: 16px;
        height: 32px;
        padding-left: 8px;
        padding-right: 8px;
    }

    #lp-pom-form-64 .form_elem_phone_number {
        top: 19px;
        left: 0px;
        width: 258px;
        font-size: 16px;
        line-height: 16px;
        height: 32px;
        padding-left: 8px;
        padding-right: 8px;
    }

    #lp-pom-form-64 .form_elem_company {
        top: 19px;
        left: 0px;
        width: 258px;
        font-size: 16px;
        line-height: 16px;
        height: 32px;
        padding-left: 8px;
        padding-right: 8px;
    }

    #lp-pom-form-64 #label_name {
        height: 19px;
        top: 0px;
        width: auto;
    }

    #lp-pom-form-64 #label_email {
        height: 19px;
        top: 0px;
        width: auto;
    }

    #lp-pom-form-64 #label_phone_number {
        height: 19px;
        top: 0px;
        width: auto;
    }

    #lp-pom-form-64 #label_company {
        height: 19px;
        top: 0px;
        width: auto;
    }

    #lp-pom-form-64 #container_name {
        width: 276px;
        height: 51px;
        top: 0px;
    }

    #lp-pom-form-64 #container_email {
        width: 276px;
        height: 51px;
        top: 69px;
    }

    #lp-pom-form-64 #container_phone_number {
        width: 276px;
        height: 51px;
        top: 138px;
    }

    #lp-pom-form-64 #container_company {
        width: 276px;
        height: 51px;
        top: 207px;
    }
}